/* заготовка main! */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.container {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
/*Многоуровневое меню  */
.menu {
    display: flex;
}
.menu li {
    width: 200px;
    list-style: none;
    background: #0923b7;
    position: relative;
}
.menu a {color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}
.menu a:hover {
    background: #417ffc;
}
.menu ul { position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}
.menu li:hover > ul {
    display:block ;
}
.menu ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;


}