/* заготовка main! */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.container {
    width: 100%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
/*верстать*/
.up-level {
    background: #fff;
    border-bottom: 1px solid;
    height: 85px;
   

}
.LOGO { 
    margin-right: 30px;
    width: 155px;
    height: 55px;
   
   
}

/* шапка */
